/*Whole document*/
.background {
    background-image: url("../images/black_lozenge.png");
}
.logoEdit {
    width: 512px;
}

h1 {
    font-family: 'Permanent Marker', serif;
    color: #c9aa71;
}
.gameBoard {
    border: 1px solid #ff9c00;
    margin: 0 auto;
    width: 50%;
    height: 600px;
    background-color: #202020;
}
.fontStyle {
    font-family: 'Roboto', sans-serif;
    color: #c9aa71;
}
.enterStart {
    font-size: 32px;
    text-align: center;
    margin-top: 25%;
}
.winStyle {
    text-align: right;
    margin: 0;
    line-height: 1.1;
}
.inStyle {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    line-height: 1.1;
}
.pickLetter{
    height: 2em;
    border: 1px solid #464646;
    padding: 10px;
    color: #257372;
    letter-spacing: 1em;
}
/*media queries*/
@media screen and (max-width: 980px) {
    .gameBoard {
        width: 100%;
    }
}